In [20]:
import pandas as pd
import numpy as np
Sales_df = pd.read_csv("InsuranceSalesData.csv")
Sales_df.head(3)

   SALESPERSON  Old_Scheme  New_Scheme
0            1          57          62
1            2         103         122
2            3          59          54

In [21]:
## What is the MEAN Monthly Household Expense?
Sales_df.Old_Scheme.mean()

68.03333333333333

In [22]:
## What is the MEDIAN Monthly Household Expense?
Sales_df.New_Scheme.mean()

72.03333333333333

In [23]:
## Describe to get Descriptive Stats for all variables
Sales_df.describe(include = 'all')

       SALESPERSON  Old_Scheme  New_Scheme
count    30.000000   30.000000   30.000000
mean     15.500000   68.033333   72.033333
std       8.803408   20.455980   24.062395
min       1.000000   28.000000   32.000000
25%       8.250000   54.000000   55.000000
50%      15.500000   67.000000   74.000000
75%      22.750000   81.500000   85.750000
max      30.000000  110.000000  122.000000

In [28]:
## normality test
## p <= alpha: reject H0, not normal.
## p > alpha: fail to reject H0, normal.

from scipy.stats import shapiro
stat, p = shapiro(Sales_df.Old_Scheme)
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=0.989, p=0.981

In [32]:
from scipy.stats import shapiro
stat, p = shapiro(Sales_df.New_Scheme)
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=0.969, p=0.506

In [42]:
Sales_df.diff=Sales_df.New_Scheme-Sales_df.Old_Scheme
stat,p=shapiro(Sales_df.diff)
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=0.940, p=0.089

In [ ]:
print("Pvalue> alpha, which means normal")

In [44]:
from scipy.stats import ttest_rel
two_sample= ttest_rel(Sales_df.New_Scheme,Sales_df.Old_Scheme)
two_sample

Ttest_relResult(statistic=1.5559143823544377, pvalue=0.13057553961337662)

In [51]:
print("Pvalue> alpha, which means one cannot reject Null Hypothesis. So new scheme has not significantly raised outputs")

Pvalue> alpha, which means one cannot reject Null Hypothesis. So new scheme has not significantly raised outputs

In [69]:
#Suppose it has been calculated that in order for Titan to break even, the average output must increase by Â£5000
#in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

from math import sqrt
import scipy.stats as stats
n = 30
diff_mean=5
print(diff_mean)
N1= len(Sales_df.New_Scheme)
N2= len(Sales_df.Old_Scheme)
df=(N1 + N2 -  2)
std1=Sales_df.New_Scheme.std() 
std2=Sales_df.Old_Scheme.std()
stdN1N2=sqrt(((N1-1)*(std1)**2 + (N2-1)*(std2)**2) / df )
se = stdN1N2/sqrt(n)
print(se)
tstat = diff_mean/se
print(tstat)
df = n-1
p = (stats.t.cdf(tstat,df=df))
p

5
4.077266194015083
1.2263118869548852

0.8850270585625692

In [70]:
# b) What is the p- value of the hypothesis test if we test for a difference of $5000? 

# We need to convert from $ to Pound, which is 3.9 thousand increase in Pound. I have used 7.8 conversion rate to pound

diff_mean_inpound=(5000* 0.78)/1000
print(diff_mean_inpound)
N1= len(Sales_df.New_Scheme)
N2= len(Sales_df.Old_Scheme)
df=(N1 + N2 -  2)
std1=Sales_df.New_Scheme.std() 
std2=Sales_df.Old_Scheme.std()
stdN1N2=sqrt(((N1-1)*(std1)**2 + (N2-1)*(std2)**2) / df )
se = stdN1N2/sqrt(n)
print(se)
tstat = diff_mean_inpound/se
print(tstat)
df = n-1
p = (stats.t.cdf(tstat,df=df))
p

3.9
4.077266194015083
0.9565232718248106

0.8267734508898927

In [72]:
# c) Power of the test (5 points)
print("The type II error rate is often denoted as Bita.")
print("The power of a test is defined as '1 - Bita' and is the probability of rejecting the null hypothesis when it is false.") 
print("The most common reason for type II errors is that the study is too small.")

The type II error rate is often denoted as Bita.
The power of a test is defined as '1 - Bita' and is the probability of rejecting the null hypothesis when it is false.
The most common reason for type II errors is that the study is too small.

In [45]:
from scipy.stats import ttest_ind
ttest = ttest_ind( Sales_df.New_Scheme,Sales_df.Old_Scheme, equal_var=True)
ttest

Ttest_indResult(statistic=0.6937067608923764, pvalue=0.49063515686248105)

In [74]:
from math import sqrt
from scipy.stats import t
N1= len(Sales_df.New_Scheme)
N2= len(Sales_df.Old_Scheme)
df=(N1 + N2 -  2)
std1=Sales_df.New_Scheme.std() 
std2=Sales_df.Old_Scheme.std()
stdN1N2=sqrt(((N1-1)*(std1)**2 + (N2-1)*(std2)**2) / df )

diff_mean = Sales_df.New_Scheme.mean() + 5 - Sales_df.Old_Scheme.mean()
MoE= t.ppf(0.975,df) * stdN1N2 * sqrt(1/N1 + 1/N2)

print("\n The difference between groups is \n\
    {:3.3f} [{:3.3f} to {:3.3f}] (mean [95% CI])".format(diff_mean, diff_mean- MoE, diff_mean+ MoE))

 The difference between groups is
    9.000 [-2.542 to 20.542] (mean [95% CI])

In [48]:
print("As there is not much difference in sales data, so we may accept NUll Hypothesis")
print("Hence new scheme has not significantly raised outputs")

As there is not much difference in sales data, so we may accept NUll Hypothesis
Hence new scheme has not significantly raised outputs